<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All blog post</title>
</head>
<body>

<h1> This will showcase all blogs</h1>

<div class ="test">
</div>

<script>
    fetch('http://localhost:8080/api/blog/getallblogpost')
        .then(res => {
            return res.json();
        })
        .then(data => {
            data.forEach(blog => {
                const markup = `${blog.subject}`

                document.querySelector('div').insertAdjacentHTML("beforeend", markup);
            })
        });


</script>
</body>
</html>